body{
    background-image: url("img/planodefundoOrig.png");
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100%;
    color: white;
    width: 100%;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#button-votacao{
    background-color: aquamarine;
    color: blue;
    border: none;
    font-size: 135%;
    border-radius: 2rem;
}

.box-votacao{
    display: flex;
    background-color: aquamarine;
    width: 330px;
    padding: 2%;
    margin: auto;
    border-radius: 2rem;
    justify-content: center;
}

